[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pylint = "*"

[packages]
pulumi = ">=4.0.0"
pulumi-aws = ">=4.0.0"
pulumi_eks = "0.34.0"

[requires]
python_version = "3.9"
